/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

body {
  width: 1024px;
  height: 1500px;
  margin: 0 auto;
}

nav {
  width: 100%;
  margin-bottom: 100px;
  padding: 10px;
}

nav a {
  text-decoration: none;
  color: #B8B8B8;
  padding: 30px 30px;
  position: relative;
  top: -12px;
}

.logo {
  margin-left: 125px;
}

section {
  height: 379px;
}

section h1 {
  font-size: 5rem;
}

section img {
  margin-left: 60%;
  position: relative;
  top: -400px;
}

section button {
  font-family: 'Titillium Web', sans-serif;
  font-size: 18px;
  padding: 5px 35px;
  border: 1px solid black;
  background-color: white;
}

.title {
  text-align: center;
  margin-right: 50%;
  position: relative;
  top: -40px;
}

main {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  height: 591px;
  margin-left: 25px;
}

.middle-img {
  width: 100%;
}

main p {
  display: inline-block;
}

.firstp {
  margin-right: 50%;
  position: relative;
  bottom: -25px;
  padding-right: 25px;
}

.secondp {
  margin-left: 50%;
  position: relative;
  top: -53px;
}

.thirdp {
  margin-right: 66%;
  margin-top: 50px;
}

.fourthp {
  padding-left: 20px;
  margin: 0px 33%;
  position: relative;
  top: -110px;
}

.fifthp {
  margin-left: 66%;
  position: relative;
  top: -225px;
  padding-left: 20px;
}

address {
  margin-top: 25px;
  margin-left: 25px;
}

.address, .number {
  padding-bottom: 25px;
}

.email {
  padding-bottom: 50px;
}

footer p {
  display: inline;
  margin: 0 40%;
} 